/*  your css code here. If applicable */
body{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:20px;
	background-color: #9b59b6;
}
.btn,
.stop{
	 padding: 15px 20px;
  border: none;
  border-radius: 8px;
  background-color: #6c3483;
  color: white;
  font-size: 24px;
  cursor: pointer;
	margin:5px;
}